.main {
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  flex-direction: column;
}

.form {
  position: relative;
}

.city {
  width: 30vw;
  margin-left: 10px;
  padding: 5px 40px 5px 10px;
  font-size: 16px;
  color: #4d4d4d;
  border: thin solid rgba(77, 77, 77, 0.3);
  border-radius: 4px;
  background: transparent;
  height: 27px;
  margin-bottom: 5px;
}

.submit-button {
  position: absolute;
  cursor: pointer;
  background: transparent;
  border: none;
  right: 0;
  top: 0;
  bottom: 0;
  height: 39px;
  width: 39px;
  padding: 0;
}

.temperature {
  font-size: 40px;
  margin-top: 20px;
}

.degree {
  font-size: 20px;
}
